html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #C0C0C0; 
  color: #000000; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: auto;   
  overflow-x: hidden; 
}
