html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #C0C0C0; 
  color: #000000; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: auto;   
  overflow-x: hidden; 
}

::-webkit-scrollbar-track {
  background: #808080;
  border: 2px solid #C0C0C0;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #404040; /* old-school inset effect */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #C0C0C0;
  border: 2px solid #808080;
  box-shadow: inset -1px -1px 0 #ffffff, inset 1px 1px 0 #404040; /* 3D pressed effect */
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 16px;
}