<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<button (click)="addPost()">Add Test Post</button>

<div class="intro">
  <img src="assets/anecdotesProfilePic.png" alt="Anecdotes Logo" class="logo">
  <h1>Anecdotes</h1>
  <p class="quote">Some thoughts.</p>
</div>

<div class="dashboard" *ngFor="let post of posts">
  <div class="post-header" (click)="toggle(post.id)">
  <span class="post-title">
    <strong>{{ post.title }}</strong> — {{ post.date | date:'medium' }}
  </span>
  <button class="delete-btn" (click)="deletePost(post.id); $event.stopPropagation()">X</button>
</div>


  <div *ngIf="expandedId === post.id" class="post-body">
    {{ post.content }}
  </div>
</div>